<c-card class="mb-4">
    <c-card-header>
      <c-spinner color="primary" *ngIf="loading"></c-spinner>
      <strong>Product List</strong>
    </c-card-header>
    <c-card-body>
        <table cTable>
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Price</th>
            <th scope="col">Stock Quantity</th>
            <th scope="col">Category</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let d of data">
            <th scope="row">{{ d.id }}</th>
            <td>{{ d.productName }}</td>
            <td>{{ d.productDescription }}</td>
            <td>{{ d.price }}</td>
            <td>{{ d.stockQuantity }}</td>
            <td>{{ d.categoryName }}</td>
            <td><button routerLink="/product/edit/:{{d.id}}" cButton class="px-2" color="primary">
              Edit
            </button></td>
            <td><button cButton (click)="isDelete(d.id)" class="px-2" color="primary">
              Delete
            </button></td>
          </tr>
          </tbody>
        </table>
    </c-card-body>
  </c-card>
