<c-card class="mb-4">
  <c-card-header>
    <h3>
      Remaining Open Account Limit: {{ dealerData.openAccountLimit }}
    </h3>
    <form>
      <button cButton (click)="toggleOpenAccountOrder()" [ngStyle]="{'color': textColor, 'background-color': bgColor}">I want to pay from my open account limit</button>
    </form>
  </c-card-header>
<c-card-body>
  <h3>Selected Products</h3>
  <table cTable>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of selectedProducts; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ p.product.productName }}</td>
        <td>{{ p.quantity }}</td>
        <td>{{ p.quantity * p.product.price }} TL</td>
        <td>
          <button cButton (click)="removeProduct(i)" color="danger">Remove</button>
        </td>
      </tr> 
    </tbody>
    <tbody>
      <tr>
        <th><strong> Price: {{ totalPrice }}TL </strong></th>
      </tr>
    </tbody>
  </table>
</c-card-body>
  <c-card-header>
    <c-spinner color="primary" *ngIf="loading"></c-spinner>
    <strong>Product List</strong>
  </c-card-header>
  <c-card-body>
      <form [formGroup]="orderForm" cForm>
        <table cTable>
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Quantity</th>
            <th scope="col">Add</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody formArrayName="orderItems">
          <tr *ngFor="let d of data; let i = index">
            <th scope="row">{{ d.id }}</th>
            <td>{{ d.productName }}</td>
            <td>{{ d.categoryName }}</td>
            <td>{{ d.price }} TL</td>
            <td>{{ d.stockQuantity }}</td>
            <td>

              <input cFormControl
               type="number"
               [(ngModel)]="d.quantity"
               #quantityInput
              />

            </td>

            <td>
              <button cButton (click)="selectProduct(d, quantityInput.value, d.id)" color="primary">Add To Order</button>
            </td>
            
          </tr>
          </tbody>
        </table>

        <div class="d-grid">
          <button cButton (click)="onSubmit()" color="primary">Save Order</button>
        </div>

      </form>
  </c-card-body>
</c-card>