<c-card class="mb-4">
    <c-card-header ngPreserveWhitespaces>
      <strong>Dealer Edit</strong>
    </c-card-header>
    <c-card-body> 
      <form [formGroup]="dealerForm" cForm>

        <div class="mb-3">
            <label cLabel for="exampleFormControlInput3">Dividend</label>
          <input cFormControl
                 id="exampleFormControlInput4"
                 placeholder="Enter a number between 1 and 99(This percentage will be added to the price of the product)"
                 type="number"
                 formControlName="dividend"
          />
        </div>

        <div class="mb-3">
            <label cLabel for="exampleFormControlInput3">Open Account Limit</label>
            <input cFormControl
                   id="exampleFormControlInput4"
                   placeholder=""
                   type="number"
                   formControlName="openAccountLimit"
            />
          </div>

        
        <button cButton (click)="onSubmit()" class="mt-3" color="primary">
          Save
        </button>
      </form>
    </c-card-body>
</c-card>