<c-card class="mb-4">
    <c-card-header ngPreserveWhitespaces>
      <strong>Card Add</strong>
      <h5>455: XBank - 543: YBank - 479: ZBank (The card number must be 14 digits and start with the numbers here)</h5>
    </c-card-header>
    <c-card-body> 
      <form [formGroup]="cardForm" cForm>
        <div class="mb-3">
          <label cLabel for="exampleFormControlInput1">Card Number</label>
          <input cFormControl
                 id="exampleFormControlInput1"
                 placeholder="e.g. 99999999999999"
                 type="text"
                 formControlName="cardNumber"
          />
        </div>
        <div class="mb-3">
          <label cLabel for="exampleFormControlInput2">Expiry Date</label>
          <input cFormControl
                 id="exampleFormControlInput2"
                 placeholder="e.g. mm-yy"
                 type="text"
                 formControlName="expiryDate"
          />
        </div>

        <div class="mb-3">
          <label cLabel for="exampleFormControlInput3">cvv</label>
          <input cFormControl
                 id="exampleFormControlInput3"
                 placeholder="e.g. 999"
                 type="text"
                 formControlName="cvv"
          />
        </div>

        <div class="mb-3">
          <label cLabel for="exampleFormControlInput4">Expense Limit</label>
          <input cFormControl
                 id="exampleFormControlInput4"
                 placeholder="e.g. 999999"
                 type="number"
                 formControlName="expenseLimit"
          />
        </div>

        <div class="mb-3">
          <label cLabel for="exampleFormControlInput5">Card Holder</label>
          <select aria-label="Default select example" formControlName="cardHolderType" id="exampleFormControlInput5" cSelect>
            <option value="credit">credit</option>
            <option value="debit">debit</option>
          </select>
        </div>
        
        <button cButton (click)="onSubmit()" class="mt-3" color="primary">
          Add
        </button>
      </form>
    </c-card-body>
</c-card>